<div class="row">
  <div class="col-md-6">
    <h2>Create new post</h2>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="title">title:</label>
        <input class="form-input" type="text" id="title" />
      </div>
      <div class="form-group">
        <label for="content">content:</label>
        <textarea class="form-input" type="text" id="content" rows="10"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/new-post.js"></script>